@page
@model CodeFixModel

<head>
    <title>@ViewBag.Title</title>
    @{
        ViewBag.Title = "CodeFix";
    }
</head>

<div class="container-fluid col-lg-4 offset-lg-4">
    <h2>Fix Code</h2>
    <form method="post" class="form">

        <div class="form-group">
            <label asp-for="editCode">Edit Code Below:</label>
            <textarea asp-for="editCode" class="form-control" rows="8"></textarea>
            <span asp-validation-for="editCode"></span>
        </div>

        <div class="form-group">
            <label asp-for="howFixed">How You Fixed It:</label>
            <textarea asp-for="howFixed" class="form-control" rows="8"></textarea>
            <span asp-validation-for="howFixed"></span>
        </div>

        <button type="submit" id="submit_create" class="btn btn-primary">Create</button>
    </form>
</div>