@page
@model CodeFixModel

<link rel="stylesheet" href="~/css/style.css">
<script type="text/javascript" src="~/js/site.js"></script>

<title>@ViewBag.Title</title>
@{
    ViewBag.Title = "CodeFix";
}

<form method="post">
    <label asp-for="editCode">Edit Code Below</label>
    <br />
    <textarea asp-for="editCode" rows="10" cols="30" class="codebox"></textarea>
    <span asp-validation-for="editCode"></span>
    <br />

    <br />
    <label asp-for="howFixed">How You Fixed It</label>
    <br />
    <textarea asp-for="howFixed" rows="10" cols="30" class="codebox"></textarea>
    <span asp-validation-for="howFixed"></span>
    <br />

    <input type="submit" value="Submit">
</form>