@page
@model CodeFixModel
@{
    ViewData["Title"] = "CodeFix";
}

    <link rel="stylesheet" href="site.css">

    <div>
        <form class="form">
            Edit Code Below
            <br />
            @Html.TextAreaFor(model => model.editCode, htmlAttributes: new { style = "overflow:auto;resize:none;margin-bottom:50px", @rows = 10, @cols = 30 })
            <br />

            How You Fixed It
            <br />
            @Html.TextAreaFor(model => model.howFixed, htmlAttributes: new { style = "overflow:auto;resize:none", @rows = 10, @cols = 30 })
            <br />

            <input type="submit" value="Submit">
        </form>
    </div>