@page
@model CodeFixModel

<head>
    <meta name="viewport" content="width=device-width;height=device-height" />

    <link rel="stylesheet" href="~/css/style.css">

    <title>@ViewBag.Title</title>
    @{
        ViewBag.Title = "CodeFix";
    }
</head>

<body>
    <form method="post">
        <label asp-for="editCode">Edit Code Below</label>
        <br />
        <textarea asp-for="editCode" rows="10" cols="30" class="codebox"></textarea>
        <span asp-validation-for="editCode"></span>
        <br />

        <br />
        <label asp-for="howFixed">How You Fixed It</label>
        <br />
        <textarea asp-for="howFixed" rows="10" cols="30" class="codebox"></textarea>
        <span asp-validation-for="howFixed"></span>
        <br />

        <button type="submit">Submit</button>
    </form>

    <div id="end" />

    <footer class="footer" style="margin-top: 4%">
        <p>&copy; 2018 - FixMyCode</p>
    </footer>
</body>