@page
@model CodeFixModel
@{
    ViewData["Title"] = "CodeFix";
}

    <link rel="stylesheet" href="site.css">
    <script type="text/javascript" src="~/js/site.js"></script>

    <div>
        @using (Html.BeginForm("", "", FormMethod.Post))
        {
            @Html.Label("Edit Code Below")
            <br />
            @Html.TextAreaFor(model => model.editCode, htmlAttributes: new { style = "overflow:auto;resize:none;margin-bottom:50px", @rows = 10, @cols = 30 })
            <br />

            @Html.Label("How You Fixed It")
            <br />
            @Html.TextAreaFor(model => model.howFixed, htmlAttributes: new { style = "overflow:auto;resize:none", @rows = 10, @cols = 30 })
            <br />

            <input type="submit" value="Submit">
        }
    </div>