@page
@model FixMyCode.Pages.ConfirmationModel
@{
    ViewData["Title"] = "Confirmation";
}

<h2>Confirmation</h2>

<link rel="stylesheet" href="site.css" />

<div id="confirmation_message">

    <h2>Question Submitted!</h2>
    <br />
    <h3>Solution pending...</h3>
    <br />

    <img src="images/success.svg" alt="Approved Question Image" />

</div>