@page
@model ConfirmationModel

<link rel="stylesheet" href="site.css" />
<h2>Confirmation</h2>

<div id="confirmation_message">

    <h2>Question Submitted!</h2>
    <br />
    <h3>Solution pending...</h3>
    <br />
    <h4>You will recieve an e-mail when the edit is finished.</h4>

    <img src="images/success.svg" alt="Approved Question Image" width="128" height="128" />

</div>