@page "/Account/CreateAccount"
@model FixMyCode.Pages.CreateUserAccountModel

<head>
    <title>@ViewBag.Title</title>
    @{
        ViewBag.Title = "Create Account";
    }
</head>

<div class="container-fluid col-lg-4 offset-lg-4">
    <h2>Create Account</h2>
    <form method="post" class="form">

        <div class="form-group">
            <label asp-for="CredentialModel.Username">Username:</label>
            <input asp-for="CredentialModel.Username" class="form-control" placeholder="Enter Username" />
            <span asp-validation-for="CredentialModel.Username" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="CredentialModel.Email">Email:</label>
            <input asp-for="CredentialModel.Email" type="email" class="form-control" placeholder="Enter Email" />
            <span asp-validation-for="CredentialModel.Email" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="CredentialModel.Password">Password:</label>
            <input asp-for="CredentialModel.Password" type="password" class="form-control" placeholder="Enter Password" />
            <span asp-validation-for="CredentialModel.Password" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="CredentialModel.ConfirmPassword">Confirm Password:</label>
            <input asp-for="CredentialModel.ConfirmPassword" class="form-control" placeholder="Re-enter Password" />
            <span asp-validation-for="CredentialModel.ConfirmPassword" class="text-danger"></span>
        </div>

        <button type="submit" id="submit_create" class="btn btn-primary">Create</button>
        <div class="col-lg-4 offset-4">
            <a href="CreateEditorAccount" class="btn btn-link">Want to Fix Code?</a>
        </div>
    </form>
</div>
