@page "/Account/Createaccount"
@model FixMyCode.Pages.CreateAccountModel
@{
    ViewData["Title"] = "CreateAccount";
}

<h2>@ViewData</h2>

<link rel = "stylesheet" href="site.css" />
<script src="~/js/site.js"></script>

<div>
    <form method="post">
        <label asp-for="CredentialModel.Username">Username</label>
        <br />
        <input asp-for="CredentialModel.Username" id="usernameText" onfocusout="return a()" />
        <br />
        <label id="usernameLength" style="visibility: collapse">Username must be at least 5 characters long.</label>
        <br />

        <label asp-for="CredentialModel.Email">Email</label>
        <br />
        <input asp-for="CredentialModel.Email" id="emailText" onfocusout="return b()" />
        <br />
        <label id="emailReal" style="visibility: collapse">Email must be real.</label>
        <br />

        <label asp-for="CredentialModel.Password">Password</label>
        <br />
        <input asp-for="CredentialModel.Password" type="password" id="passwordText" onfocusout="return c()" />
        <br />
        <label id="passwordCheck" style="visibility: collapse">Password must be at least 8 characters long and include a number.</label>
        <br />

        <label>Confirm Password</label>
        <br />
        <input asp-for="CredentialModel.ConfirmPassword" type="password" name="confirm_passwd" id="confirm_pw" onfocusout="return d()" />
        <br />
        <label id="confirmCheck" style="visibility: collapse">Passwords must be the same.</label>
        <br />

        <input type="checkbox" id="editor_check" />
        <label>Editor</label>

        <input type="checkbox" id="yes_stbox" />
        <label>Student</label>
        <br />

        <br />
        <button type="submit" id="submit_create">Submit</button>
    </form>
</div>



