@page
@model FixMyCode.Pages.CreateEditorAccountModel
@{
    ViewData["Title"] = "CreateEditorAccount";
}

<head>
    <meta name="viewport" content="width=device-width;height=device-height" />

    <link rel="stylesheet" href="~/css/style.css" />

    <script src="~/js/site.js"></script>

    <title>@ViewBag.Title</title>
    @{
        ViewBag.Title = "Create Editor Account";
    }
</head>



<body>
    <form method="post">
        <label asp-for="CredentialModel.Username">Username</label>
        <br />
        <input asp-for="CredentialModel.Username" id="usernameText" onfocusout="return a()" />
        <span asp-validation-for="CredentialModel.Username" class="text-danger"></span>
        <br />
        <label id="usernameLength" style="visibility: collapse">Username must be at least 5 characters long.</label>
        <br />

        <label asp-for="CredentialModel.Email">Email</label>
        <br />
        <input asp-for="CredentialModel.Email" id="emailText" onfocusout="return b()" />
        <span asp-validation-for="CredentialModel.Email" class="text-danger"></span>
        <br />
        <label id="emailReal" style="visibility: collapse">Email must be real.</label>
        <br />

        <label asp-for="CredentialModel.Password">Password</label>
        <br />
        <input asp-for="CredentialModel.Password" type="password" id="passwordText" onfocusout="return c()" />
        <span asp-validation-for="CredentialModel.Password" class="text-danger"></span>
        <br />
        <label id="passwordCheck" style="visibility: collapse">Password must be at least 8 characters long and include a number.</label>
        <br />

        <label asp-for="CredentialModel.ConfirmPassword">Confirm Password</label>
        <br />
        <input asp-for="CredentialModel.ConfirmPassword" type="password" onfocusout="return d()" />
        <span asp-validation-for="CredentialModel.ConfirmPassword" class="text-danger"></span>
        <br />
        <label id="confirmCheck" style="visibility: collapse">Passwords must be the same.</label>

        <br />
        <button type="submit" id="submit_create">Submit</button>

    </form>

    <br />
    <label style="margin-left: 31.5%">All editors must be approved before they are active, this can take some time, so bear with us!</label>
</body>
