@page
@model FixMyCode.Pages.CreateAccountModel
@{
    ViewData["Title"] = "CreateAccount";
}

<h2>CreateAccount</h2>

<html>

    <link rel = "stylesheet" href="site.css" />

    <div>
        <form>
            Full Name<br>
            <input type="text" name="fullname" />
            Email<br>
            <input type="email" name="emailadd" />
            Are you a student?<br>
            <input type="checkbox" />

        </form>
    </div>

</html>

