@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}
    
    <link rel="stylesheet" href="site.css">
    
    

    <div class="buttons">
        <button class="CreateAccountButton" type="button"><a href="/CreateAccount">Create</a></button>
        <br />
        <button class="LogInButton" type="button">Log In</button>
    </div>

    <div class="info">
        <h1>Students</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.
        </p>
            <br />

        <h1>Editors</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.
        </p>
            <br />

        <h1>Teachers</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.
        </p>
    </div>