@page
@model IndexModel


<link href="~/css/style.css" rel="stylesheet" type="text/css">

<title>@ViewBag.Title</title>
@{
    ViewBag.Title = "Home";
}

<body>
    <div class="main">
        <h1>Students</h1>
        <p>
            Having trouble with programming? Need some help with your code?
            Here you can submit your code to one of our editors and have it fixed with an explanation of the errors.
        </p>
        <br />

        <h1>Editors</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.
        </p>
        <br />

        <h1>Teachers</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.
        </p>
    </div>
</body>