@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}
    <head>
    <link rel="stylesheet" href="site.css">
    </head>
    


    <button class="button1" type="button">Create</button>
    <button class="button2" type="button">Log In</button>
    <div class="info">
        <h1>Students</h1>
            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.
            </p>
        <h1>Editors</h1>
            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.
            </p>
        <h1>Teachers</h1>
            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.
            </p>
</div>