@page
@model IndexModel

<head>
    <meta name="viewport" content="width=device-width;height=device-height" />

    <link rel="stylesheet" href="~/css/style.css" />

    <title>@ViewBag.Title</title>
    @{
        ViewBag.Title = "Home";
    }
</head>

<body>
    <section id="showcase">
        <div class="container">
            <h1>Fix My Code</h1>
            <p>Help out by contributing to the alpha version! Ask a question, or helps someone out by solving problems!</p>
        </div>
    </section>

    <section class="main">
        <h1 class="indexheader">Student</h1>
        <p>
            Having trouble with programming? Need some help with your code?
            Here you can submit your code to one of our editors and have it fixed with an explanation of the errors.
        </p>
        <br />

        <h1 class="indexheader">Editor</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.
        </p>
        <br />

        <h1 class="indexheader">Teacher</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.
        </p>
    </section>

    <footer>
        <p>&copy; 2018 - FixMyCode - Alpha 1.2</p>
    </footer>
</body>