@page "/account/login"
@model FixMyCode.Pages.LoginModel

<link rel="stylesheet" href="site.css" />
<title>@ViewBag.Title</title>
@{
    ViewBag.Title = "Login";
}

<form method="post">

    <label asp-for="Email">Email</label>
    <br />
    <input asp-for="Email" />
    <br />

    <br />
    <label asp-for="Password">Password</label>
    <br />
    <input asp-for="Password" />
    <br />

    <br />
    <button type="submit" id="login">Login</button>
</form>



