@page "/Account/Login"
@model FixMyCode.Pages.LoginModel

<link rel="stylesheet" href="~/css/style.css" />

<title>@ViewBag.Title</title>
@{
    ViewBag.Title = "Login";
}

<form method="post">
    <label asp-for="VerificationModel.Email">Email</label>
    <br />
    <input asp-for="VerificationModel.Email" />
    <span asp-validation-for="VerificationModel.Email" class="text-danger"></span>
    <br />

    <br />
    <label asp-for="VerificationModel.Password">Password</label>
    <br />
    <input asp-for="VerificationModel.Password" type="password"/>
    <span asp-validation-for="VerificationModel.Password" class="text-danger"></span>
    <br />

    <br />
    <button type="submit" id="login">Login</button>
</form>



