@page
@model FixMyCode.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}

<link rel="stylesheet" href="site.css" />



@using (Html.BeginForm("Login", "Login", FormMethod.Post))
{
    @Html.Label("Email")
    <br />
    @Html.TextBoxFor(model => model.email)
    <br />

    <br />
    @Html.Label("Password")
    <br />
    @Html.TextBoxFor(model => model.password)
    <br />
    
    <br />
    <button type="submit" id="login">Login</button>
}



