@page
@model FixMyCode.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}

<link rel="stylesheet" href="site.css" />



<form class="form">
    Email <br />
    <input type="email" name="loginemail" id="login_email" />

    <br />Password<br />
    <input type="password" name="loginpasswd" id="login_passwd" />

    <br />
    <a class="button" href="">Login</a>
</form>


