@page "/Account/Login"
@model FixMyCode.Pages.LoginModel

<head>
    <meta name="viewport" content="width=device-width;height=device-height" />

    <title>@ViewBag.Title</title>
    @{
        ViewBag.Title = "Login";
    }
</head>

<div class="container-fluid col-lg-4 offset-lg-4">
    <h2>Login</h2>
    <form method="post" class="form">
        <div class="form-group">
            <label asp-for="VerificationModel.Email">Email:</label>
            <input asp-for="VerificationModel.Email" type="email" class="form-control" placeholder="Enter Email" />
            <span asp-validation-for="VerificationModel.Email" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="VerificationModel.Email">Password:</label>
            <input asp-for="VerificationModel.Password" type="password" class="form-control" placeholder="Enter Password" />
            <span asp-validation-for="VerificationModel.Password" class="text-danger"></span>
        </div>

        <div class="form-group form-check">
            <label asp-for="VerificationModel.RememberMe" class="form-check-label">
                <input asp-for="VerificationModel.RememberMe" type="checkbox" class="form-check-input"/>Remember Me?
            </label>
        </div>
        
        <button type="submit" id="login" class="btn btn-primary">Login</button>
    </form>
</div>