@page
@model StudentSubmissionModel
@{
    ViewData["Title"] = "StudentSubmission";
}
   <<html>
        <title>FixMyCode</title>
        <link rel="stylesheet" href="mpstyle.css">
        <div id="questionform">
            <form>
                Specific Question<br>
                @Html.TextAreaFor(model => model.question, 10, 40, htmlAttributes: new { style = "width: 35%; height: 35%" })
                <br />

                Your Code<br>
                @Html.TextAreaFor(model => model.code, 10, 40, htmlAttributes: new { style = "width: 35%; height: 35%" })
                <br />

                <input type="submit" value="Submit">
            </form>
        </div>

    </html>
