@page "/Submissions/StudentSubmission"
@model Models.QueryModel

<head>
    <script src="CodeMirror-master/src/codemirror.js"></script>
    <link rel="stylesheet" href="CodeMirror-master/lib/codemirror.css">
    <script src="mode/javascript/javascript.js"></script>

    <title>@ViewBag.Title</title>
    @{
        ViewBag.Title = "Student Submissions";
    }

    <style type="text/css" media="screen">

        #editor {
            position: relative;
            width: 50%;
        }
    </style>
</head>

<div class="container-fluid col-lg-4 offset-lg-4" style="margin-top:30px">
    <h2>Submit Code</h2>
    <form asp-controller="Submissions" asp-action="StudentSubmission" class="form">
        <div class="form-group">
            <label asp-for="Title">Title for your question:</label>
            <input asp-for="Title" class="form-control" placeholder="Enter Title" />
            <span asp-validation-for="Title"></span>
        </div>

        <label asp-for="Code">Copy and paste your code here:</label>
        <div>
            
            <label asp-for="Code"></label>
            <input id="editor" asp-for="Code"/>
            <span asp-validation-for="Code"></span>

            <script src="/ace-builds/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
            <script>
                var editor = ace.edit("editor",
                    {
                        theme: "ace/theme/tomorrow_night_blue",
                        mode: "ace/mode/html",
                        autoScrollEditorIntoView: true,
                        maxLines: 30,
                        minLines: 30
                    });
                editor.placeholder = "Copy and paste your code here";
                editor.setTheme("ace/theme/monokai");
                editor.session.setMode("ace/mode/javascript");
                editor.resize(20, 20, 20, 20);


                editor.session.getText();

            </script>
        </div>

        <div class="form-group">
            <label asp-for="Description">Thoroughly describe your problem:</label>
            <textarea asp-for="Description" id="description" class="form-control" rows="8"></textarea>
            <span asp-validation-for="Description"></span>
        </div>

        <div class="form-group">
            <label asp-for="Question">Specific question about your code:</label>
            <textarea asp-for="Question" class="form-control" rows="8"></textarea>
            <span asp-validation-for="Question"></span>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <script>
        function submitListener() {
            var description = Document.getElementById("description");

            console.log(description.text, editor.text);

        }
    </script>
</div>