@page "/Submissions/StudentSubmission"
@model StudentSubmissionModel
@{
    ViewData["Title"] = "Student Submissions";
}

<link rel="stylesheet" href="~/css/style.css">

<div>
    
    <form method="post">
        <label asp-for="QueryModel.Question">Question about your code</label>
        <br/>
        <input asp-for="QueryModel.Question"/>
        <span asp-validation-for="QueryModel.Question"></span>
        <br/>

        <br/>
        <label asp-for="QueryModel.Code">Code</label>
        <br/>
        <input asp-for="QueryModel.Code"/>
        <span asp-validation-for="QueryModel.Code"></span>
        
        <br />

        <button type="submit">Submit</button>


    </form>
</div>

    




