@page "/submissions/studentsubmission"
@model StudentSubmissionModel
@{
    ViewData["Title"] = "Student Submissions";
}

<link rel="stylesheet" href="site.css">

<div>
    @using (Html.BeginForm("StudentSubmission", "Submissions", FormMethod.Post))
    {
        @Html.Label("Specific Question")
        <br />
        @Html.TextAreaFor(model => model.Question, htmlAttributes: new { style = "overflow:auto;resize:none;margin-bottom:50px", @rows = 10, @cols = 30 })
        <br />

        @Html.Label("Your Code")
        <br />
        @Html.TextAreaFor(model => model.Code, htmlAttributes: new { style = "overflow:auto;resize:none", @rows = 10, @cols = 30 })
        <br />

        <button type="submit" id="student_submit">Submit</button>


    }

    
</div>


    
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Editor</title>
    <style type="text/css" media="screen">
        .ace_editor {
            border: 1px solid lightgray;
            margin: auto;
            height: 800px;
            width: 400px;
            font-size: 26px !important;
            max-width: 30%;
        }

        .scrollmargin {
            height: 80px;
            text-align: center;
        }

        .wrapper {
            text-align: center;
            perspective: 500px;
            margin-top: 50px;
        }


        .transformed {
            transform: scale(0.5);
            transform-origin: center 12%
        }

        #editor {
            width: 100%;
            min-width: 100%
        }

        body {
            background: #a9bfc7;
        }

        .scrollmargin input > {
            margin: 10px
        }
    </style>
    </head>
    <body>
    <div class="transformed">

        <div class="scrollmargin"></div>
        <div class="scrollmargin">

        </div>
        <pre id="editor">editor</pre>

    </div>

    <div class="scrollmargin">
    </div>

    <!-- load ace -->
    <script src="../src-noconfict/ace.js"></script>
    <script>var editor = ace.edit("editor");
        editor.setOptions({
        hasCssTransforms: true,
        mode: "ace/mode/html",
        value: "editor 4\n from a mirror",
        });
        editor.renderer.setScrollMargin(10, 10, 10, 10);
    </script>

    <script src="./show_own_source.js"></script>

    </body>


