@page
@model StudentSubmissionModel
@{
    ViewData["Title"] = "StudentSubmission";
}
    <link rel="stylesheet" href="site.css">

    <div>
        <form class="form">
            Specific Question
            <br />
            @Html.TextAreaFor(model => model.question, htmlAttributes: new { style = "overflow:auto;resize:none;margin-bottom:50px", @rows = 10, @cols = 30})
            <br />

            Your Code
            <br />
            @Html.TextAreaFor(model => model.code, htmlAttributes: new { style = "overflow:auto;resize:none", @rows = 10, @cols = 30 })
            <br />

            <input type="submit" value="Submit">
        </form>
    </div>