@page "/Submissions/StudentSubmission"
@model StudentSubmissionModel
@{
    ViewData["Title"] = "Student Submissions";
}

<link rel="stylesheet" href="site.css">

<div>
    
    <form>
        <label asp-for="Question">Question about your code</label>
        <br/>
        <input asp-for="Question"/>
        <span asp-validation-for="Question"></span>
        <br/>

        <br/>
        <label asp-for="Code">Code</label>
        <br/>
        <input asp-for="Code"/>
        <span asp-validation-for="Code"></span>

        <button type="submit">Submit</button>


    </form>
</div>

    




