@page
@model StudentSubmissionModel
@{
    ViewData["Title"] = "StudentSubmission";
}
   <<html>
        <title>FixMyCode</title>
        <link rel="stylesheet" href="mpstyle.css">
        <div id="questionform">
            <form>
                Specific Question<br>
                <textarea class="stquestion" name="question" cols="30" rows="10"></textarea>
                <br />

                Your Code<br>
                <textarea class="code" name="og_code" cols="30" rows="10"></textarea>
                <br />

                <input type="submit" value="Submit">
            </form>
        </div>

    </html>
