@page "/submissions/studentsubmission"
@model StudentSubmissionModel
@{
    ViewData["Title"] = "Student Submissions";
}

<link rel="stylesheet" href="site.css">

<div>
    @using (Html.BeginForm("StudentSubmission", "Submissions", FormMethod.Post))
    {
        @Html.Label("Specific Question")
        <br />
        @Html.TextAreaFor(model => model.Question, htmlAttributes: new { style = "overflow:auto;resize:none;margin-bottom:50px", @rows = 10, @cols = 30 })
        <br />

        @Html.Label("Your Code")
        <br />
        @Html.TextAreaFor(model => model.Code, htmlAttributes: new { style = "overflow:auto;resize:none", @rows = 10, @cols = 30 })
        <br />

        <button type="submit" id="student_submit">Submit</button>


    }
</div>