body {
    position:relative;
}

/*Background property not working*/
<<<<<<< Updated upstream
div {
<<<<<<< Updated upstream
    background-color: antiquewhite;
=======
    background-color: slategrey;
=======
.container body-content {
    background-image: url(images/qbkls.png);
    background-repeat: repeat-x;
>>>>>>> Stashed changes
>>>>>>> Stashed changes
}

h1 {
    color: black;
    text-align: center;
}

/*Where the top navigation bar settings go*/
.navbar-collapse {
    background-color: antiquewhite;
}

.navbar-header:hover {
    background-color: pink;
    color: antiquewhite;
}

li:hover {
    background-color:black;
    color:antiquewhite;
}

li:after {
    background-color:antiquewhite;
    color:black;
}

/**/

h2 {
    color: #4d5061;
    text-align: center;
}

p {
    text-align: center;
}

.CreateAccountButton {
    background-color: #5c80bc;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    width: 110px;
    padding: 12px 28px;
    margin-bottom: 10px;
}

/*applied to all forms*/
form{
    position: relative;
    margin-top: 100px;
    margin-left: 40%;
}

/*Index CSHTML*/
#info {
    margin-top:10000px;
}