body {
    position:relative;
}

/*Background property not working*/
div {
    background-color: antiquewhite;
}

h1 {
    color: black;
    text-align: center;
}

/*Where the top navigation bar settings go*/
.navbar-collapse {
    background-color: antiquewhite;
}

#home,#editor,#student,#title {
    color: black;
}




li:hover {
    background-color:black;
    color:antiquewhite;
}
li:after {
    background-color:antiquewhite;
    color:black;
}

h2 {
    color: #4d5061;
    text-align: center;
}

p {
    text-align: center;
}

.info {
    position: relative;
    margin-left: 17.5%;
    margin-top: 20%;
    margin-bottom: 15%;
    text-align: center;
    width: 65%;
}

.buttons {
    position: absolute;
    top: 25%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
}

.CreateAccountButton {
    background-color: #5c80bc;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    width: 110px;
    padding: 12px 28px;
    margin-bottom: 10px;
}

/*Changes the default color of the text for the href link*/
a:link {
    color: white;
}

/*Changes the color of the text for the href link when hovered over*/
a:hover {
    color: lightgray;
}

/*After the link has already been clicked*/
a:after {
    color: white;
}

/*makes a look like a button*/
.button {
    display: block;
    width: 110px;
    height: auto;
    background-color: #5c80bc;
    padding: 12px 28px;
    text-align: center;
    border-radius: 4px;
    border: none;
    color: white;
    font-size: 16px;
    text-decoration:none;
}

/*applied to all forms*/
form{
    position: relative;
    margin-top: 100px;
    margin-left: 40%;
}