body {
    background-color: #f2f4f3;
    position:relative;
}

<<<<<<< Updated upstream
h1 {
    color: #e7e247;

}

=======
>>>>>>> Stashed changes
h2 {
    color: #4d5061;
    text-align: center;
}

p {
    text-align: center;
}

.info {
    position: relative;
<<<<<<< HEAD
    margin-top: 500px;
=======
    margin-top: 1000 px;
>>>>>>> 384e031... css
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: right;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.button1 {
    background-color: #5c80bc;
    font-size: 16px;
    border-radius: 4px;
    color: #f2f4f3;
    border: none;
    padding: 12px 28px;
}

.button2 {
    background-color: #5c80bc;
    font-size: 16px;
    border-radius: 4px;
    color: #f2f4f3;
    border: none;
    padding: 12px 28px;
    float: right;
}

.stquestion {
    resize: none;
    overflow: auto;
}

.code {
    resize: none;
    overflow: auto;
    margin-top: 50 px;
}

.questionform {
    display: block;
    text-align: center;
}

form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
